.main__card{
    position: relative;

    width: 80%;
    max-width: 375px;
    border-radius: 12px;
    padding: 40px 10px;
    box-shadow: 0px 0px 20px rgba(0,0,0,0.2);

    background-color:$color-white;
    background-image: url('../images/bg-pattern-mobile.svg');
    background-repeat: no-repeat;
    background-position: top center;

    & .main__card-img-box{
        display: none;
        
    }

    & .main__img-desktop{
        position: absolute;
        width: 250px;
        top: -23%;
        right: calc(50% - 112px);
    }

    & .main__card-faq{
        font-size:3rem;
        text-align: center;
        font-weight: 700;
        margin-top: 50px;
        padding: 30px 0;
    }

    & .main__questions{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: center;
    }

    & .main__questions-item{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
        padding: 16px 12px;
        border-bottom: 1px solid hsl(240, 5%, 91%);

        & .main-question-container{
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 100%;
        }

        & .arrowDown-image{
            transition: 300ms all ease;
        }

        
        
    }
}


.main-question-item-h3{
    font-weight: 400;
    font-size: 1.2rem;
    &:hover{
        color: hsl(14, 88%, 65%);
    }
}





