// Main colors background
$color-soft-violet: hsl(273, 75%, 66%);
$color-soft-blue: hsl(240, 73%, 65%);

// Text colors
$color-soft-red:hsl(14, 88%, 65%);
$color-very-dark-blue:hsl(238, 29%, 16%);
$color-dark-grayish:hsl(237, 12%, 33%);
$color-dark-blue:hsl(240, 6%, 50%);
$color-white:#fff;

// Dividers

$color-divider:hsl(240, 5%, 91%);

// Typography

$main-font-size:1.2rem;
$main-font-family:Kumbh Sans;